/.DS_Store
/Core.old
/Core.xml
/rewrite.json

/panel/

/share/.DS_Store
/share/content-delivry/
/share/studio/

/share/api/.DS_Store
/share/api/modulPaypal.php
/share/api/stat.php
/share/api/session.php
/share/api/session_sync.php

/share/lib/.DS_Store
/share/lib/butterfly
/share/lib/Fluttershy
/share/lib/fluttershy_
/share/lib/paypal


/sys/.DS_Store
/sys/class.old/

/usr/.DS_Store
/usr/template/.DS_Store
/usr/template/enn
/usr/template/floagg
/usr/template/eiganoneko.com

/usr/plugins/.DS_Store
/usr/plugins/ennNode
/usr/plugins/omsyPage
/usr/plugins/omsyPanel
/usr/plugins/omsyBlog
/usr/plugins/minBlog