/share/uploads/
/share/content-delivry/
/share/download/
/usr/template/chez-coco
/usr/template/eiga-no-neko
/usr/template/eiga-no-neko-tv
/usr/template/enn
/usr/template/floagg
/usr/template/pishoweekly
/usr/template/saint-francois
/usr/plugins/
/old-panel/
/publish-dev/