/share/uploads/
/share/content-delivry/
/share/download/
/usr/template/chez-coco
/usr/template/eiga-no-neko
/usr/template/eiga-no-neko-tv
/usr/template/enn
/usr/template/floagg
/usr/template/pishoweekly
/usr/template/saint-francois
/usr/plugins/baco-db
/usr/plugins/calandapp
/usr/plugins/ennNode
/usr/plugins/floaggApp
/usr/plugins/calandapp
/usr/plugins/floaggGestion
/usr/plugins/MinBlog
/usr/plugins/Pishoweekly
/old-panel/
/publish-dev/